build/
dist/
examples/output
*.egg-info

__pycache__

*.o
*.so
*.so.dSYM
*.a
.vscode
.DS_Store
cosebis/WnLog

examples/output*
examples/

runs/output*

runs/*

!runs/3x2pt/
runs/3x2pt/*

!runs/extended_cosmologies/
runs/extended_cosmologies/*

!runs/**/*.py

tests/test_pofk