# Fortran module binaries
*.mod
*.o

# Build files
build/
debug_build/

# Binaries
bin/
*.e

# Library
lib/

# Plots
*.eps
plotting/*.p~
*.pdf

# Emacs backups
*~

# Mead directories
src/BACKUP/
BACKUP/
OLD/
cosmo-OWLS/
lensing/
matter/
winint/
BAHAMAS/
fitting/
CCL/

# Tests
tests/test_gas_gas

# Note that /data, /hydro and /diagnostics are dealt with separately
# Each directory contains a .gitignore

# Benchmark directory
benchmarks/HMx_*.txt
benchmarks/Alonso_set1
benchmarks/Alonso_set2
benchmarks/OLD

# Library update script
src/update_library.sh*

# Cosmic Emu files
EMU0.txt
xstar.dat
emu_power.dat
emu_params.txt
